@model CartolaFC.Models.Time
@{
    ViewBag.Title = "Detalhes do Time";
}
<h2>
    Detalhes do Time</h2>
<fieldset>
    <legend>Time</legend>
    <div>
        @Html.LabelFor(model => model.Nome)
    </div>
    <div>
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div>
        @Html.LabelFor(model => model.AnoDeFundacao)
    </div>
    <div>
        @Html.DisplayFor(model => model.AnoDeFundacao)
    </div>
    <div>
        @Html.LabelFor(model => model.Descricao)
    </div>
    <div>
        @Html.DisplayFor(model => model.Descricao)
    </div>
    <div>
        @Html.LabelFor(model => model.Tecnico.Nome)
    </div>
    <div>
        @Html.DisplayFor(model => model.Tecnico.Nome)
    </div>
    <div>
        @Html.LabelFor(model => model.Tecnico.Descricao)
    </div>
    <div>
        @Html.DisplayFor(model => model.Tecnico.Descricao)
    </div>
</fieldset>
<p>
    <a href="@Url.Action("Editar", "Time", new { id = Model.TimeId })" class="voltar">Editar</a>
    <a href="@Url.Action("Index", "Time")" class="voltar">Voltar</a>
</p>